@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    background-color: rgb(54, 54, 54);
}

.vok_title{
    color: rgb(151, 151, 151);
    font-family: 'Source Sans Pro', sans-serif;
}
.vokabel_text{

    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(251, 255, 0);
}